/* CSS declarations go here */

html,
body {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  height: 100%;
}

.box {
  /*margin: 5px;*/
  border: 1px solid #888;
  font-size: 11px;
  text-align: center;
  line-height: 50px;
  /*background-image: */
}

.red {
	background-color: red;
}

.gray {
	background-color: gray;
}

.small {
  width: 200px;
  height: 200px;
}

.well.fight {
  background-image: url("/scene1.jpg");
  background-size: cover;
  height: 100%;
  background-attachment:fixed;
  background-position:center;
}